@media (min-width: 768px){
  .main-navigation {
    background-color: #679a04;
  }
  .main-navigation-link {
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .main-navigation-link:hover, .main-navigation-link.is-open {
    color: #fff;
    background-color: #507a00;
  }
  .main-navigation-link.active {
    color: #fff;
    font-weight: 700;
    background-color: #507a00;
  }
}
