<div>
    <div class="dimdi">
        <div style="position: relative">
            <a href="https://versandhandel.dimdi.de/websearch/servlet/Gate?accessid=dimdi_var&amp;term=4896f53ee3b8f758bccf2126591c2b83" target="_blank">
                <div>
                    <img style="width: 205px;z-index: 1" alt="Link zum Versandhandels-Register" src="//versandhandel.dimdi.de/img/logo.png">
                    <img style="width: 205px; position:absolute; top:0px; left:0px; z-index: 100" alt="" src="//versandhandel.dimdi.de/img/logo.gif">
                </div>
            </a>
        </div>
    </div>
</div>